<body>
    <form method="post" action="calculate">
        Enter A: <input type="text" name="a"/><br>
        Enter B: <input type="text" name="b"/><br>
        Operation: <input type="text" name="op"/><br>
        <input type="submit"/>
    </form>
</body>