{% load static %}
<html>
    <head>
        <title>ANTO is a fucker</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
    </head>

    <body>
        <h1>This should work</h1><h3> {{mymessage}}{{name}}</h3>

        <img src="{% static 'images/apache200.jpg' %}"/>
    </body>
</html>