<h1>Marks card</h1>
<table border="10">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Register Number</th>
    <th>Chartered Accountancy</th>
    <th>Data Mining</th>
    <th>Computer Networks</th>
    <th>Mobile Applications</th>
    <th>Average</th>
    
</tr>

{% for i in all %}
<tr>
    <td>{{i.id}}</td>
    <td>{{i.sname}}</td>
    <td>{{i.regno}}</td>
    <td>{{i.ca}}</td>
    <td>{{i.dm}}</td>
    <td>{{i.cn}}</td>
    <td>{{i.ma}}</td>
    <td>{{i.avg}}</td>
    
</tr>
{% endfor %}
</table>