<body>
        <form method="post" action="average">
            Enter name:<input type="text" name="name"/><br>
            Enter Register Number:<input type="number" name="regno"/><br>
            Enter CA: <input type="number" name="ca"/><br>
            Enter DM: <input type="number" name="dm"/><br>
            Enter MA: <input type="number" name="ma"/><br>
            Enter CN: <input type="number" name="cn"/><br>
            <input type="submit"/>
        </form>
    </body>